<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    Options -MultiViews -Indexes

    RewriteRule ^privacy$ index.php?url=home/privacy [L,QSA]
    RewriteRule ^gizlilik-politikasi$ index.php?url=home/privacy [L,QSA]
    RewriteRule ^yazar/([0-9]+)$ index.php?url=home/author/$1 [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>